//nav of products

nav.nav-product {
  background-color: $color-secondary;
  color: $white;

  ul.nav {

    li {

      padding: 10px;
      position: relative;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {

        background: darken($color-secondary, 70%);

        cursor: pointer;

        ul {
          display: inline-block;
        }
      }

      ul {
        width: 100%;
        position: absolute;
        top: 44px;
        left: 0px;
        z-index: 2;
        background-color: $color-secondary;
        border-top: 10px solid $color-primary;

        display: none;

        li {

          padding: 10px 20px;

          a {
            color: $white;
          }
        }
      }
    }
  }
}

//end nav of products