//colors

$white: #fff;
$yellow: #ffc107;
$gray: #343a40;
$pink: #ff0f9a;
$purple: #B343C3;

$color-primary: $yellow;
$color-secondary: $gray;
$color-tertiary: $pink;
$color-quaternary: $purple;

//end colors